html {
  background-color: black;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: monospace;
}

h1 {
  font-family: "Leckerli One", cursive;
  font-size: 4em;
  font-weight: normal;
  margin-bottom: 0;
}

h1,
.results,
.player,
.computer {
  text-align: center;
}

h2,
.end-game {
  font-size: xx-large;
}
.buttons,
.score,
.choose,
.end-game {
  display: flex;
  justify-content: space-evenly;
}

.buttons button,
.playerChoice,
.computerChoice {
  font-size: 100px;
  background-color: transparent;
  border: none;
}

.playerChoice,
.computerChoice {
  color: transparent;
  text-shadow: 0 0 white;
}

.replay {
  display: none;
}

.results {
  font-size: 1.5em;
  font-weight: bold;
}

.buttons button {
  height: 200px;
  transition: font-size 0.5s;
}

.buttons button:hover {
  font-size: 150px;
}

.end-game {
  margin: auto;
  gap: 80px;
}

.replay {
  border-radius: 5px;
  width: 100px;
  font-family: monospace;
  font-size: 20px;
  background-color: white;
}

.replay:hover {
  background-color: #e0e0e0;
}
