html {
  background-color: black;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  margin: 0;
}

h1,
.results,
.player,
.computer {
  text-align: center;
}

.buttons,
.score,
.choose,
.end-game {
  display: flex;
  justify-content: space-evenly;
}

.buttons button,
.computerChoice {
  font-size: 100px;
  background-color: transparent;
}

.playerChoice {
  border: solid;
  min-width: 100px;
  min-height: 100px;
}

.computerChoice {
  color: transparent;
  text-shadow: 0 0 white;
}

.replay {
  display: none;
}

.results {
  font-size: 1.5em;
  font-weight: bold;
}

.buttons button {
  height: 150px;
  transition-property: font-size;
  transition-duration: 0.5s;
}

.buttons button:hover {
  font-size: 150px;
}
